@page "/"
@*@attribute [Authorize(Roles = "admin")]*@

@inject IndexViewModel viewModel

<CloudNimbleGrid @ref="gridInstance" TItem="Company" ViewModel="@viewModel" @bind-Value="@viewModel.SelectedItem">
    <Columns>
        <RadzenDataGridColumn TItem="Company" Property="@nameof(Company.Id)" Title="Id" Width="300px">
            <EditTemplate Context="context">
                <span class="ui-cell-data">@context.Id</span>
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Company" Property="@nameof(Company.CompanyName)" Title="Company Name">
            <EditTemplate Context="context">
                <RadzenTextBox @bind-Value="context.CompanyName" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Company" Property="@nameof(Company.CorporationName)" Title="Corporation Name">
            <EditTemplate Context="context">
                <RadzenTextBox @bind-Value="context.CorporationName" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Company" Property="@nameof(Company.City)" Title="City">
            <EditTemplate Context="context">
                <RadzenTextBox @bind-Value="context.City" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Company" Property="@nameof(Company.State)" Title="State" Width="80px">
            <EditTemplate Context="context">
                <RadzenTextBox @bind-Value="context.State" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Company" Property="@nameof(Company.DateCreated)" Title="Date Created" TextAlign="TextAlign.Right" Width="120px">
            <Template Context="context">
                @String.Format("{0:d}", context.DateCreated)
            </Template>
            <EditTemplate Context="context">
                <span class="ui-cell-data">@String.Format("{0:d}", context.DateCreated)</span>
            </EditTemplate>
        </RadzenDataGridColumn>

    </Columns>
</CloudNimbleGrid>

@code
{

    CloudNimbleGrid<Company> gridInstance;

    protected override async Task OnInitializedAsync()
    {
        viewModel.StateHasChanged.Action = StateHasChanged;
        viewModel.Entities.AddRange(new List<Company>()
        {
            new Company("Test 1", "Test 1, Inc.", "San Francisco", "CA", "USA"),
            new Company("Test 2", "Test 1, Inc.", "San Francisco", "CA", "USA"),
            new Company("Test 3", "Test 1, Inc.", "San Francisco", "CA", "USA"),
            new Company("Test 4", "Test 1, Inc.", "San Francisco", "CA", "USA"),
            new Company("Test 5", "Test 1, Inc.", "San Francisco", "CA", "USA"),
            new Company("Test 6", "Test 1, Inc.", "San Francisco", "CA", "USA"),
        });
        await viewModel.Load();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) return;
        await gridInstance.Refresh();
    }

}